body {
    background: linear-gradient(to bottom, green 0%, rgb(56, 24, 196) 40%, red 40%, black 60%, pink 60%, white 100%);
    height: 100vh;
    margin: 0;
}

::before, ::after {
    content: "test";
    position: absolute;
    width: 100%;
    height: 50vh;
    background: red;
    border-radius: 50% 50% 0 0;
    left: 0;
}

::before {
    top: 0;
    transform: rotate(180deg);
}

::after {
    bottom: 0;
}